<style>
header {
    width: 100%;
    height: 500px;
    background: url(/static/banner5.png) no-repeat 50% 50%;
    background-size: cover;
}
.cardImgBackground {
  background-size: auto; background-repeat: repeat;
}
.cardContent{
  align-items: center; /* 垂直居中 */
  justify-content: flex-start; /* 文本靠左对齐 */
  color: rgb(255, 255, 255);
}

</style>
<header>
    <nav>
       <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
       </div>
       <div class="logo">
          
          <a href="/main" style="color: white;">
             <img src="/static/logo_UPC.png" height="60px" >
             招生信息网</a>
       </div>
       <div class="logo mini">
          <img src="/static/logo_UPC_square.png" height="60px" >
          <a class=>招生信息网</a>
       </div>
       <div class="menu">
          <ul>
             <li><a href="/info/main">学院简介</a></li>
             <li><a onclick="openPopup()">在线咨询</a></li>
             <li><a href="/undergraduate">本科招生</a></li>
             <li><a href="/postgraduate">研究生招生</a></li>
          </ul>
       </div>
    </nav>
    {% include 'popup.html' %}
</header>