<div id="popup-container" style="display: none;">
    <div id="popup-content">
      <div class="pt-3">
        <a href="/chat/under" style="text-decoration: none;">
        <div class="card bg-dark text-white" style="height: 30%; box-shadow: 4px 4px 8px rgba(0, 0, 0);">
          <img src="/static/classroom.jpg" class="card-img" style="object-fit: cover; height: 100%;">
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h2 class="card-title">本科生咨询</h2>
          </div>
        </div>
        </a>
      </div>
      <div class="pt-3">
        <a href="/chat/postPM" style="text-decoration: none;">
        <div class="card bg-dark text-white" style="height: 30%; box-shadow: 4px 4px 8px rgba(0, 0, 0);">
          <img src="/static/petroleum.jpg" class="card-img" style="object-fit: cover; height: 100%;">
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h2 class="card-title">专硕咨询</h2>
          </div>
        </div>
        </a>
      </div>
      <div class="pt-3">
        <a href="/chat/postAM" style="text-decoration: none;">
        <div class="card bg-dark text-white" style="height: 30%; box-shadow: 4px 4px 8px rgba(0, 0, 0);">
          <img src="/static/stone.jpg" class="card-img" style="object-fit: cover; height: 100%;">
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h2 class="card-title">学硕咨询</h2>
          </div>
        </div>
        </a>
      </div>
          
          </div>
      <i id="popup-close"></i>
    </div>