<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/static/css/mainPage.css" rel="stylesheet">
<script SRC="/static/js/nav.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>

<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>本科生招生</title>
   </head>
   <style>
    .left-column, .right-column {
        flex-basis: 50%;
        padding: 20px;
    }
   </style>
<body>
    {% include 'navNormal.html' %}
    <div>
        <hr>
        <div style="display: flex; justify-content: space-between;">
            <a class="pl-3" onclick="window.history.go(-1);"><p><<返回</p></a>
            <h1 style="margin: auto;">详细信息</h1>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{ data[1] }}</h5> 
              <em class="card-subtitle mb-2 text-muted">发布日期：{{ data[2] }}</em>
              <hr>
              <div class="card-text">
                    {{data[0]}}
              </div>
            </div>
        </div>
     </div>
</body>